DB_DEV_URL=
DB_DEV_USER=
DB_DEV_PASSWORD=
DB_TEST_URL=
DB_TEST_USER=
DB_TEST_PASSWORD=
jwt_secret=
jwt_expiration=
JWT_TEST_SECRET=
JWT_TEST_EXPIRATION=
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PROTOCOL=smtp
PASSWORD_RESET_EXPIRATION_MS=600000
PASSWORD_RESET_MAX_VERIFICATION_ATTEMPTS=5
